<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shortlisted by Realpage</title>
</head>

<body>
  <h2>Greetings Roshan T Shaji,</h2>
  <p>
    <br><br>
    Dear Roshan,

    We are pleased to inform you that you have been shortlisted for further consideration by Realpage. Congratulations on reaching this stage in our selection process!

    <br><br>
    <strong>Company Details:</strong>
    <ul>
      <li>Company Name: Realpage</li>
      <li>HR Contact: Rajat Shaw</li>
    </ul>

    <br>
    <strong>Next Steps:</strong>
    <p>
      In the next steps of our selection process, you may be contacted for additional interviews or assessments. We are impressed with your qualifications and experience and look forward to learning more about you.

      <br><br>
      Please be prepared to discuss your skills, experience, and how they align with the role at Realpage. We believe you have the potential to make a valuable contribution to our team.

      <br><br>
      If you have any questions or require further information about the upcoming steps, please do not hesitate to contact our HR representative, Rajat Shaw, at rajat@rp.com. We are here to support you throughout this process.

      <br><br>
      Once again, congratulations on being shortlisted by Realpage. We appreciate your interest in our company and look forward to the possibility of working together.

      <br><br>
      Best regards,
      <br><br>
      Rajat Shaw
      <br>
      HR
      <br>
      Realpage
      <br>
    </p>
  </p>
</body>

</html>
